@{
    ViewData["Title"] = "About Jameson University";
}
<h1>@ViewData["Title"]</h1>

<head>
    <style>
        .ab-fst-paragraph-with-images::after {
            content: "";
            display: table;
            clear: both;
        }

        .ab-fst-paragraph-with-images p {
            align-content: center;
            float: left; /* Float the paragraph to the left */
            width: 100%; /* Occupy the full width of the container */
            margin-bottom: 20px; /* Add margin at the bottom for separation between paragraphs */
        }

        .ab-fst-paragraph-with-images img {
            align-content: center;
            display: block; /* Make the image a block element */
            width: 20%; /* Adjust the width of the image */
            margin: 0 91px 20px 0; /* Add margin for separation between images */
            float: left; /* Float the image to the left */
        }
    </style>
</head>

<div id="content-text">

    <div class="ab-fst-paragraph-with-images">
        <img src="https://www.yelmonline.com/uploads/original/20201204-180109-fd77139e2a7caf3328e66a450a366544.jpg" alt="Your Image Alt Text">
        <img src="https://static.wikia.nocookie.net/turtledove/images/d/d7/Acheson.jpg" alt="Your Image Alt Text" width="75px">
        <img src="https://cdn.britannica.com/15/153315-050-D44B6A48/Merrifield-Hall-University-of-North-Dakota-Grand.jpg?w=400&h=300&c=crop" alt="Your Image Alt Text">

        <p>In the year 1945, amidst the post-war optimism that swept across the United States, a visionary group of educators and community leaders in North Dakota came together to establish a new institution of higher learning. Their dream was to create a university that would not only provide exceptional education but also foster innovation, research, and community engagement.</p>

    </div>

    <p>Over the decades, Jameson University grew steadily, attracting top-notch faculty, ambitious students, and contributing significantly to the intellectual and cultural landscape of North Dakota. As the university expanded its academic offerings and research initiatives, it gained accreditation from renowned accrediting bodies, solidifying its reputation as a hub of excellence in education.</p>

    <p>Today, Jameson University stands tall as a beacon of knowledge, offering a diverse range of programs, state-of-the-art facilities, and a vibrant campus life. Its commitment to academic rigor, community service, and global perspectives continues to shape the minds of future leaders, innovators, and contributors to society.</p>

    <p>Come be a part of the Jameson University journey – where education meets inspiration, and every student is empowered to reach new heights.</p>

    <p>Please contact Alma Camarillo at cam18005@byui.edu or at (385) 630-1477 for any questions regarding this fictional site.</p>
</div>
