@{
    ViewData["Title"] = "Home Page";
}


<head>
    <style>
        .ab-fst-paragraph-with-images::after {
            content: "";
            display: table;
            clear: both;
        }

        .ab-fst-paragraph-with-images p {
            align-content: center;
            float: left; /* Float the paragraph to the left */
            width: 100%; /* Occupy the full width of the container */
            margin-bottom: 20px; /* Add margin at the bottom for separation between paragraphs */
        }

        .ab-fst-paragraph-with-images img {
            align-content: center;
            display: block; /* Make the image a block element */
            width: 20%; /* Adjust the width of the image */
            margin: 0 91px 20px 0; /* Add margin for separation between images */
            float: left; /* Float the image to the left */
        }
    </style>
</head>
<div class="jumbotron">
    <h1>Jameson University</h1>
</div>
<!--Welcome Message-->
<div id="content-text">
    <h4><i>Welcome to Jameson University</i></h4>
    <img src="https://t3.ftcdn.net/jpg/01/67/05/22/360_F_167052287_rST060jb1YJDgOI1lxn7E2EwVB0BpAzW.jpg" />
    <p> Here in Jameson University, we are committed to providing our students with the best education possible. We have a wide variety of courses to choose from, and we are always looking for new ways to improve our curriculum. Our faculty is made up of some of the most talented professors in the country, and they are always willing to help students with any questions they may have. If you're interested in learning more about what we offer, please feel free to contact us at any time!
    </p>
    <p>Jameson University is a private, non-profit university located in the heart of North Dakota. We offer a wide range of undergraduate and graduate programs, as well as professional development courses for working professionals. Our faculty are experts in their fields and have been recognized for their excellence by organizations such as the National Academy of Sciences and the American Association for the Advancement of Science. If you're looking for an education that will prepare you for success in today's competitive job market, then look no further than Jameson University!</p>

    <p></p>
    <p>We believe in the power of values and how these can make a difference in the world. Our priority is to feed the values of <i>excellence in education, diversity and inclusion,</i> and providing <i>cutting-edge research and technology.</i></p>

</div>
<div class="jumbotron">
    <h3>Highlights</h3>
</div>
<div class="row">
    <div class="col-md-4">
        <p></p>
        <p></p>
        <h4>Excellence in Education</h4>
        <p></p>

        <p>
            <a href="https://www.ndsu.edu/news/view/detail/72704">Read abbout our 4.0 GPA graduates that bring honor to their name, families, and Jameson University.</a>
        </p>
    </div>
    <div class="col-md-4">
        <p></p>
        <p></p>

        <h4>Diversity and Inclusion</h4>
        <p></p>

        <p>We have a spot taylored just for you!</p>
        <!--Image of students-->
    </div>
    <div class="col-md-4">
        <p></p>
        <p></p>

        <h4>Cutting Edge Research and Technology</h4>
        <p></p>
        <p><a href="https://ndspacegrant.und.edu/index.html">Read our latest contributions to NASA.</a></p>
    </div>

    <div class="ab-fst-paragraph-with-images">
        <img src="https://www.ppic.org/wp-content/uploads/college-graduates-celebration-ppic-higher-education-center-768x512.jpg" alt="Your Image Alt Text">
        <img src="https://accessibledispatch.com/wp-content/uploads/2019/08/Diverse-group-of-college-students..jpg" alt="Your Image Alt Text" width="75px">
        <img src="https://www.cypresscollege.edu/wp-content/uploads/Post_Body-Image_NASA-NCAS-Award.jpg" alt="Your Image Alt Text">
    </div>
</div>

